body {
    font-family: 'Heebo', sans-serif;
    font-family: 'Shizuru', cursive;
    font-family: 'Work Sans', sans-ser;
}
:root {
    --main-color: rgba(218, 165, 32, 0.903);
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header {
    background-color: #161719;
    width: 100%;
}
.container {
    width: 800px;
    padding: 0 15 0;
    margin-left: auto;
    margin-right: auto;

}
header .container {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 ;
    text-decoration: none;


}
.logo a{
  text-decoration: none;

}
.logo h2 {
    color: #BB4A4A;
    font-weight: 800;
}
header .container .links {
    margin-left: 15px;
}
header .container .links a {
    text-decoration: none;
    color: #98989A;
    font-size: 19px;
    transition: 0.5s ease;
}
header .container .links a:hover {
    color: #55C651;
}
header .container .links li {
    display: inline-block;
    padding-left: 10px;
}
section {
    background-image: url(images-project/background.jpg);
    background-size: cover;
    background-position: center;
    height:calc(100vh - 98px);
    position: relative;
}
section .intro-text {
   position: absolute;
   top: 20%;
   left: 10%;
}
section .intro-text h3 {
    text-transform: uppercase;
    color: #BB4A4A;
    font-size: 50px;
}
section .intro-text span {
    color:#FFDB60;
}
section .intro-text h3+p {
    color: #f9f9f9;
    font-size: 23px;
}
input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type=submit] {
  background-color:#BB4A4A ;
  color: white;
}

.form {
  background-color: black;
  padding: 20px;
  position: absolute;
  right:2rem ;
  top: 20%;
  color: white;

}
#welcome{
  background-color: transparent;
  padding-top:5px;
  padding-bottom:5px;
}
.form h2{
  position: relative;
  left: 25%;
  color:white;
}
.form span{
  color:#BB4A4A;
}

#message {
  display:none;
  background: transparent;
  color:#FFDB60 ;
  position:absolute;
  bottom: 10px;
  left:25%;

}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

.valid {
  color: green;
  font-weight: 900;
  font-size: 1.4em;


}
.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}



.invalid {
  color: red;
  font-weight: 900;
  font-size: 1.4em;
}
.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

.form .sign-up {
   color: #f9f9f9;
   text-align: center;
}
.form .sign-up a {
    color: #BB4A4A;
    text-decoration: none;
    transition: 0.5s;
}
.form .sign-up a:hover {
    color: #55C651;
}
.btns{
  position:absolute;
  bottom:0;
}
.light{
  color:black;
  background-color:#fff917;
  font-size: 1em;
  font-weight:500;
  text-align: center;
  align-items: center;
  border: 3px solid black;
  margin: 10px;
  letter-spacing:1px;
  border-radius:5px;
  cursor: pointer;
}
.dark{
  color:white;
  background-color:black;
  font-size: 1em;
  font-weight:500;
  text-align: center;
  align-items: center;
  border: 3px solid black;
  margin: 10px;
  letter-spacing:1px;
  border-radius:5px;
  cursor: pointer;
}
.footer{
  background-color:#3a6cf4;
  color:white;
  padding:1em 1em;


}

.footer-title{
  font-size:1.3em;
  font-weight:600;
}
.footer-title span{
  color:#BB4A4A;
}
.footer-title span:hover{
color:yellow;
}
